# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mtl

# Images
*.png

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS folders
*.vcxproj
*.sdf
*.ipc

# Video files
*.mp4

.vs/
visual studio/*
visual studio/.vs/
visual studio/.vs/*
visual studio/Debug/
visual studio/Debug/*
visual studio/Release/
visual studio/Release/*
visual studio/ToonShaderExercise.vcxproj
visual studio/backupprojectfiles/
visual studio/backupprojectfiles/*